In [25]:
import pandas as pd
import csv
import numpy

In [26]:
nycrash_df = pd.read_csv('Motor_Vehicle_Crashes_-_Case_Information__Three_Year_Window.csv')
nycrash_df.head()

,Year,Crash Descriptor,Time,Date,Day of Week,Police Report,Lighting Conditions,Municipality,Collision Type Descriptor,County Name,Road Descriptor,Weather Conditions,Traffic Control Device,Road Surface Conditions,DOT Reference Marker Location,Pedestrian Bicyclist Action,Event Descriptor,Number of Vehicles Involved
0,2014,Injury Accident,5:35,06/18/2014,Wednesday,Y,Dawn,NEW YORK,OTHER,NEW YORK,Straight and Level,Clear,None,Dry,NaN,"Crossing, No Signal or Crosswalk","Pedestrian, Collision With",1
1,2014,Property Damage Accident,15:28,11/06/2014,Thursday,Y,Daylight,HENRIETTA,RIGHT ANGLE,MONROE,Straight and Level,Rain,None,Wet,NaN,Not Applicable,"Other Motor Vehicle, Collision With",2
2,2014,Property Damage Accident,15:27,03/19/2014,Wednesday,Y,Daylight,CICERO,OVERTAKING,ONONDAGA,Straight and Level,Cloudy,None,Dry,NaN,Not Applicable,"Other Motor Vehicle, Collision With",2
3,2014,Property Damage Accident,4:03,06/23/2014,Monday,Y,Dark-Road Unlighted,COLESVILLE,OTHER,BROOME,Straight and Grade,Clear,None,Dry,88I91011017,Not Applicable,Deer,1
4,2014,Property Damage Accident,15:28,09/27/2014,Saturday,Y,Daylight,HECTOR,OTHER,SCHUYLER,Straight and Level,Cloudy,None,Dry,79 63061019,Not Applicable,Deer,1

In [37]:
nycrash_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 895916 entries, 0 to 895915
Data columns (total 18 columns):
Year                             895916 non-null int64
Crash Descriptor                 895916 non-null object
Time                             895916 non-null object
Date                             895916 non-null object
Day of Week                      895916 non-null object
Police Report                    895916 non-null object
Lighting Conditions              895916 non-null object
Municipality                     883939 non-null object
Collision Type Descriptor        895916 non-null object
County Name                      895916 non-null object
Road Descriptor                  895916 non-null object
Weather Conditions               895916 non-null object
Traffic Control Device           895916 non-null object
Road Surface Conditions          895916 non-null object
DOT Reference Marker Location    313601 non-null object
Pedestrian Bicyclist Action      895916 non-null object
Event Descriptor                 895916 non-null object
Number of Vehicles Involved      895916 non-null int64
dtypes: int64(2), object(16)
memory usage: 123.0+ MB

In [44]:
intger_cols = ['County Name','DOT Reference Marker Location']

In [4]:
total_crash_peryr = nycrash_df.groupby('Year').count()
total_crash_peryr

,Crash Descriptor,Time,Date,Day of Week,Police Report,Lighting Conditions,Municipality,Collision Type Descriptor,County Name,Road Descriptor,Weather Conditions,Traffic Control Device,Road Surface Conditions,DOT Reference Marker Location,Pedestrian Bicyclist Action,Event Descriptor,Number of Vehicles Involved
Year,,,,,,,,,,,,,,,,,
2014,299452,299452,299452,299452,299452,299452,295407,299452,299452,299452,299452,299452,299452,105613,299452,299452,299452
2015,294556,294556,294556,294556,294556,294556,289834,294556,294556,294556,294556,294556,294556,103647,294556,294556,294556
2016,301908,301908,301908,301908,301908,301908,298698,301908,301908,301908,301908,301908,301908,104341,301908,301908,301908

In [46]:
# avg_crash_peryr = nycrash_df.loc[:,"Day of Week"].mean()
total_crash_permuni = nycrash_df.groupby('Municipality').mean()
total_crash_permuni

                     Year  Number of Vehicles Involved
Municipality
ADAMS         2014.958042                     1.412587
ADDISON       2014.911111                     1.377778
AFTON         2015.014493                     1.125604
AKRON         2015.212121                     1.606061
ALABAMA       2015.054475                     1.256809
...                   ...                          ...
YORK          2015.004082                     1.248980
YORKSHIRE     2015.152318                     1.509934
YORKTOWN      2015.009709                     1.753398
YORKVILLE     2014.896774                     2.051613
YOUNGSTOWN    2014.966667                     1.533333

[1293 rows x 2 columns]

In [17]:
avg_crash_muni = total_crash_permuni.loc[:,'Date'].mean()
avg_crash_muni

683.6341840680587